ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
ul{
    margin-bottom: 1em;
}

.responsive{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.title {
    color: var(--app-primary-color);
    font-weight: bold;
}
div {
    display: block;
}